.button {

  &__clear,
  &__operation,
  &__delete,
  &__number,
  &__equals {
    cursor: pointer;
    font-size: 2rem;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 1rem;
  }

  &__equals {
    grid-row: span 2;
  }

  &__operation,
  &__clear,
  &__delete,
  &__equals {
    background-color: $operation-color;
    color: $operation-text;

    &:hover {
      background-color: $operation-color-hover;
    }
  }

  &__number:hover {
    background-color: $bg-color-hover;
  }
}