$text-color: rgb(0, 0, 0);
$operation-color: rgb(183, 210, 250);
$operation-text: rgb(0, 141, 235);
$operation-color-hover: rgb(212, 227, 250);

$bg-body: rgb(0, 0, 0);
$bg-color: rgb(202, 202, 202);
$bg-hover: rgba(255, 255, 255, 0.2);
$bg-color-hover: rgb(226, 224, 224);